<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	
	<dict>
		<key>category_id</key>
		<integer>15</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/nestle/banner foamming.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>16</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/Suleman/banner/blank-banner.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>17</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/Suleman/banner/blank-banner.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>100</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/other/swisscottage-banner.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>103</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/subcategory/1_103.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>200</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/subcategory/2_200.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>201</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/subcategory/2_201.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>203</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/2_203.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>300</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/subcategory/3_300.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>301</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/3_301.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>302</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/subcategory/3_302.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>303</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/3_303.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>304</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/subcategory/3_304.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>305</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/3_305.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>306</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/subcategory/3_306.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>307</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/subcategory/3_307.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>312</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/Suleman/banner/blank-banner.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>400</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/800Flower/coffee-planet-app.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>401</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/Suleman/banner/blank-banner.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>403</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/Suleman/banner/blank-banner.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>404</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/subcategory/4_404.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>405</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/4_405.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>407</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/4_407.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>408</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/Suleman/banner/blank-banner.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>409</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/other/web banner 685x140.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>500</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/5_500.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>501</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/Suleman/banner/blank-banner.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>502</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/5_502.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>503</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/subcategory/5_503.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>504</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/5_504.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>505</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/5_505.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>600</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/6_600.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>601</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/6_601.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>602</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/6_602.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>603</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/subcategory/6_603.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>604</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/subcategory/6_604.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>605</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/subcategory/6_605.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>606</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/subcategory/6_606.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>700</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/subcategory/7_700.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>701</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/subcategory/7_701.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>702</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/subcategory/7_702.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>703</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/subcategory/7_703.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>705</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/subcategory/7_705.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>706</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/subcategory/7_706.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>707</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/subcategory/7_707.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>708</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/subcategory/7_708.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>709</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/7_709.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>711</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/subcategory/7_711.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>712</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/subcategory/7_712.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>713</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/other/honey banner.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>800</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/nestle/NestleFitness.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>801</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/subcategory/8_801.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>802</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/8_802.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>803</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/Suleman/banner/blank-banner.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>804</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/8_804.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>805</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/Suleman/banner/blank-banner.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>808</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/8_808.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>809</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/Suleman/banner/blank-banner.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>810</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/8_810.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>811</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/8_811.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>813</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/8_813.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>900</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/9_900.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>901</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/subcategory/9_901.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>902</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/other/Lays.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>904</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/subcategory/9_904.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>905</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/subcategory/9_905.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>906</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/9_906.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>1000</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/rb/dettol-banner2.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>1002</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/Suleman/banner/blank-banner.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>1003</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/promotion/Spin_728x90.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>1004</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/rb/Category Banner Air Wick.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>1005</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/10_1005.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>1007</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/10_1007.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>1008</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/10_1008.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>1009</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/10_1009.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>1010</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/10_1010.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>1100</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/Suleman/banner/blank-banner.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>1104</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/unilever/Trolley-Promo-Banners-210515-01.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>1106</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/unilever/20150201-Deodrant-AXE.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>1107</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/unilever/Trolley-November-Promo-Banners-01.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>1108</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/unilever/20150201-facial-care-ponds.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>1109</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/other/derma-banner.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>1110</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/Transmed/banners/Messi gillette cat_banner_728x90_v3-01.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>1111</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/Suleman/banner/blank-banner.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>1112</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/11_1112.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>1116</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/subcategory/strepsils_banner.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>1118</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/11_1118.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>1119</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/unilever/body-care-dove5.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>1121</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/Suleman/banner/blank-banner.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>1200</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/Transmed/banners/pampers-pre728x901.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>1206</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/Suleman/banner/blank-banner.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>1207</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/Suleman/banner/blank-banner.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>1300</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/Suleman/banner/blank-banner.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>1301</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/13_1301.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>1402</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/14_1402.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>1410</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/subcategory/national-day2.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>2023</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/subcategory/christmas.png</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>2025</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/ryan/shutterstock_68058130.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>2027</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/rb/dettol-kids-cat2.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>2030</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/banners/blank/banners-V1-02.jpg</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>2031</integer>
		<key>image</key>
		<string>http://trolley.ae/image/data/Transmed/banners/pampers-banner.png</string>
	</dict>
</array>
</plist>
